.hidden {
    display: hidden;
}


.main{
    margin-left: 80px;
    margin-right: 80px;
    background-color: black;
}

body{
    background-color: black;
}

/* tabs type 2*/
/*  if info clicked, show X
Otherwise, show Y. 
Replace the text inside the tab by Y. 


*/
.nav-tabs {
    border-bottom: 2px dotted rgb(64,64,64);
}

/* tab color */
.nav-tabs>li>a {
    background-color: None; 
    border-color: None;
    color:rgb(76,176,252);
  }
  
  /* active tab color */
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: black;
    border: 0px solid #888888;
  }
  
  /* hover tab color */
  .nav-tabs>li>a:hover {
    border-color: None;
    background-color: None;
  }

#panel-tabs-text {
    margin-bottom: 100px;
    font-size: 18px;
    color: rgb(200,200,200);

}

#panel-tabs {
    margin-top: 15px;
}


/* TITLE BAR */
.header-top{
    text-align: left;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-left: 80px;
    margin-right: 80px;
    border-bottom: 1px solid rgb(64,64,64);
}

#title-text {
    color: white;
    font-size: 50px;
    font-family: "Roboto Condensed";
}

#subheader-link{
    font-family: "Roboto Condensed";
    color: white;
    font-size: 14px;
}

#subheader-link:hover{
    color: rgb(126,126,126);
    text-decoration: none;
}
/* END TITLE BAR */


.tab-text{
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    font-family: "Cabin";
}

hr {
    border-color: rgb(221,221,221);
}


/* SIDE BAR */

#leftcol {
    padding-top: 20px;
    text-align: left;
    padding-left: 30px;
    font-family: "Roboto";
    font-size: 16px;
    padding-right: 30px;

}

.sidebar-label {
    color: rgb(126,126,126);
    padding-bottom:5px;
}

.btn{
    background-color: black ;
    border-radius: 0px !important;
    border-color: #0264b8 ;
    user-select: none;
    font-size: 18px;
    height: 40px;
    font-weight:800;
    color: #0264b8 ;
    font-family: "Roboto";
}



.btn.active{
    background-color:  rgb(13,59,95);
    color: white;
    border-color: #0264b8;
}

.btn.active:hover{
    background-color: rgb(13,59,95);
    color: white;
}

.btn.active:focus{
    background-color: rgb(13,59,95);
    color: white;
}

.search-term{
    font-size: 25px;
    font-weight: bold;
    color: #3cb8ff;
}

.input{
    border-radius: 0px;
    background-color: black;
    border: 1px dotted #b7c3ce;
}
.side-bar-search-text{
    font-weight: bold;
    font-size: 14px;
}

.side-bar-click-text{
    font-weight: bold;
    font-size: 14px;
}

#search-box {
    margin-right: 10px;
    border: none;
}

#search-box-text{
    text-align: left;   
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    color: white;
    padding-left: 2px;
}

/* END SIDE BAR */


/* PANEL */
#rightcol {
   padding-top: 10px;
}

.rightcol_full {
    border-left:1px solid rgb(64,64,64);
 }

.rightcol_mobile {
    border-left:0px;
 }

.plot {
    border-right: 1px solid rgb(64,64,64);
    border-bottom: 1px solid rgb(64,64,64);
    border-left: 1px solid rgb(64,64,64);

    padding-bottom: 100px;
    height: null;
}

.plot-container {
    margin-bottom: 20px;

}

.panel-title{
    text-align: center;
    color: rgb(204,204,204);
    font-size: 70px;
    font-weight: 900;
    margin-top: 0px;
    border-bottom: 1px solid rgb(64,64,64);
    font-family: "Roboto"
}


.autocomplete-suggestions {
        border: 1px solid #999;
        background: #fff; 
        cursor: default; 
        overflow: auto;
        color: #333;
        text-shadow: none; 
        text-align: left;
}

.autocomplete-suggestion {
        padding: 10px 5px; 
        font-size: 1.2em; 
        white-space: nowrap; 
        overflow: hidden;
}

.autocomplete-selected {
        background: grey;
}

.autocomplete-suggestions strong {
        font-weight: normal; 
        color: #3399ff;
}


.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: grey;
}


#signature {
    padding-top: 20px;
    padding-bottom: 50px;
    border-top: 1px solid rgb(64,64,64);
    text-align: left;
    font-family: "Roboto Condensed";

}