[defaults]
roles_path=../roles/dynamic:../roles/internal:../roles/external
retry_files_enabled = false
inventory = {{cookiecutter.inventory}}
library =  {{cookiecutter.library_path}}
action_plugins = {{cookiecutter.action_plugins_path}}
host_key_checking=False
timeout=30
log_path = ../logs/nsbl_run_log.log
deprecation_warnings = False
{% if cookiecutter.callback_plugins %}
callback_plugins={{cookiecutter.callback_plugins}}
{% endif %}
{% if cookiecutter.callback_plugin_name %}
callback_whitelist = {{ cookiecutter.callback_whitelist }}
{% endif %}
{% if cookiecutter.callback_plugin_name %}
stdout_callback={{cookiecutter.callback_plugin_name}}
{% else %}
stdout_callback=nsbl_internal
{% endif %}
#allow_world_readable_tmpfiles = true  # TODO: make this configurable
[ssh_connection]
pipelining=True
