html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 50px;
  background-color: #454545;
  position: fixed;
  top: 0;
  line-height: 50px;
  font-size: 20px;
}

a {
  text-decoration: none !important;
}

.logo {
  color: #999999;
  margin-left: 10px;
  font-weight: bold;
}

.createvm {
  color: #999999;
  margin-left: 10px;
  font-weight: bold;
}

#view_by_ip {
  float: right;
}

#viewtable {
  margin-top: 50px;
}

table.notiftable {
  table-layout: fixed;
  width: 100%;
}

table.notiftable tr th:first-child {
  width: 12%;
}

table.notiftable tr th:nth-child(2) {
  width: 8%;
}

table.notiftable tr th:nth-child(3) {
  width: 13%;
}

table.notiftable tr th:nth-child(4) {
  width: 67%;
}

table.notiftable tr.spaceUnder>th {
  padding: 0.5em;
}
