:root {
    --main-border-color: rgb(240,240,240);
}



.main{
    margin-left: 80px;
    margin-right: 80px;
    background-color: white;
}

body{
    background-color: white;
}

/* tabs type 2*/
/*  if info clicked, show X
Otherwise, show Y. 
Replace the text inside the tab by Y. 



*/
.hidden {
    display: hidden;
}


.nav-tabs {
    border-bottom: 3px dotted var(--main-border-color);
    font-family: "Cabin";
    font-size: 18px;
    padding-left: 10px;
}

.navtabtext{
    padding-bottom: 0px !important;
 
}

/* tab color */
.nav-tabs>li>a {
    background-color: None; 
    border-color: None;
    color:rgb(180,180,180);
  }
  
  /* active tab color */
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: red;
    border: 0px solid #888888;
    font-weight: 900;
  }
  
  /* hover tab color */
  .nav-tabs>li>a:hover {
    border-color: None;
    background-color: None;
  }

#panel-tabs-text {
    margin-bottom: 100px;
    font-size: 18px;
    color: rgb(64,64,64);
    padding-left:10px;
    font-family: "Cabin";
}

#navtabtextheader{
    font-family: "Old Standard TT";
    font-size: 22px;
    color: rgb(64,64,64);
}

#panel-tabs {
    margin-top: 15px;
}


.tab-text{
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    font-family: "Cabin";
}

hr {
    border-color: rgb(221,221,221);
}

/* Tab Text */

/* TITLE BAR */
.header-top{
    margin-top: 10px;
    padding-bottom: 10px;
    margin-left: 80px;
    margin-right: 80px;
    border-bottom: 2px solid var(--main-border-color);
}

#title-text {
    text-align: left;
    color: black;
    font-size: 50px;
    font-family: "Old Standard TT";
    font-weight: 900;
}

#subheader-link {
    font-family: "Old Standard TT";
    color: grey;
    font-size: 14px;
    text-align: right;
    text-decoration: none;
}

a {
    color: rgb(126,126,126);
}

#subheader-text {
    font-family: "Old Standard TT";
    color: grey;
    font-size: 14px;

}

#subheader-link:hover  {
    color: rgb(126,126,126);
    text-decoration: none;
}
/* END TITLE BAR */





/* SIDE BAR */

#leftcol {
    padding-top: 20px;
    text-align: left;
    padding-left: 30px;
    font-family: "Roboto";
    font-size: 16px;
}

.sidebar-label {
    color: rgb(126,126,126);
    padding-bottom:5px;
}


.btn{
    background-color: None ;
    border-radius: 0px !important;
    border-color: var(--main-border-color) ;
    border-right: none;
    border-left: none;
    user-select: none;
    height: 60px;
    font-size: 20px;
    font-weight:800;
    text-align: left;
    padding-left: 5px;
    color: rgb(180,180,180) ;
    font-family: "Roboto"
}

.btn.active{
    color: rgb(247,42,42);
    background-color: rgb(245,245,245);
    box-shadow: none;
}


.btn.active:hover{
    color: rgb(247,42,42);
}

.btn.active:focus{
    color: rgb(247,42,42);
    box-shadow: none;
}

.search-term{
    font-size: 25px;
    font-weight: bold;
    color: #3cb8ff;
}


.input{
    border-radius: 0px;
    border: none;
}
.side-bar-search-text{
    font-weight: bold;
    font-size: 14px;
}

.side-bar-click-text{
    font-weight: bold;
    font-size: 14px;
}

.form-control::-webkit-input-placeholder { color: rgb(253,176,176) }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: rgb(253,176,176)}  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: rgb(253,176,176) }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color:  rgb(253,176,176) }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: rgb(253,176,176) }  /* Microsoft Edge */


#search-box-text{
    text-align: left;   
    font-family: "Roboto";
    font-size: 18px;
    color: black;
    padding-left: 5px;
    border: none;
    border-top:  1px dotted rgb(180,180,180);
    border-bottom: 1px dotted rgb(180,180,180);
}



/* END SIDE BAR */


/* PANEL */
#rightcol {
   padding-top: 10px;
}

.rightcol_full{
    border-left: 2px solid var(--main-border-color);
}

.rightcol_mobile{
    border-left: 0px;
}

.plot {
    border-right: 2px solid var(--main-border-color);
    border-bottom: 2px solid var(--main-border-color);
    border-left: 2px solid var(--main-border-color);
    
    padding-bottom: 100px;
    height: null;
}

.plot-container {
    margin-bottom: 20px;

}

.panel-title{
    text-align: left;
    color: rgb(100,100,100);
    padding-left: 20px;
    font-size: 40px;
    font-weight: 600;
    margin-top: 10px;
    border-bottom: 2px solid var(--main-border-color);
    font-family: "Rubik"
}


.autocomplete-suggestions {
        border: 1px solid #999;
        background: #fff; 
        cursor: default; 
        overflow: auto;
        color: #333;
        text-shadow: none; 
        text-align: left;
}

.autocomplete-suggestion {
        padding: 10px 5px; 
        font-size: 1.2em; 
        white-space: nowrap; 
        overflow: hidden;
}

.autocomplete-selected {
        background: grey;
}

.autocomplete-suggestions strong {
        font-weight: normal; 
        color: #3399ff;
}


.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: grey;
}


#signature {
    padding-top: 20px;
    padding-bottom: 50px;
    border-top: 2px solid rgb(64,64,64);
    text-align: left;
    font-family: "Roboto Condensed";

}