.main{
    padding: 40px 40px;
}


.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
  }
  
  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }
  
  /* Style northward tooltips differently */
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }

  .axis text{ 
      font-size: 12px;
      fill: black;
    }



.header-top{
background-color: rgb(41,43,44);
color: white;
font-size: 20px;
}

.header-top-container{
    padding: 5px 24px;
}

.header-top-lab-link{
text-align: right;
color: white;
}

.header-top-lab-link:hover{
    color: rgb(126,126,126);
    text-decoration: none;
}

.tab-text{
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;

}

hr {
    border-color: rgb(221,221,221);
}


.btn{
    border-radius: 4px;
    user-select: none;
}

.btn.active{
    background-color: rgb(227,36,0);
    color: white;
}

.btn.active:hover{
    background-color: rgb(227,36,0);
    color: white;
}

.btn.active:focus{
    background-color: rgb(227,36,0);
    color: white;
}

.search-term{
    font-size: 25px;
    font-weight: bold;
}

.input{
    border-radius: 4px;
}
.side-bar-search-text{
    margin-top: 30px;
    font-weight: bold;
    font-size: 14px;
}


.side-bar-click-text{
    font-weight: bold;
    font-size: 14px;
}

.side-bar-search-box{
    width: 100%;
}





.autocomplete-suggestions {
        border: 1px solid #999;
        background: #fff; 
        cursor: default; 
        overflow: auto;
        color: #333;
        text-shadow: none; 
        text-align: left;
}

.autocomplete-suggestion {
        padding: 10px 5px; 
        font-size: 1.2em; 
        white-space: nowrap; 
        overflow: hidden;
}

.autocomplete-selected {
        background: grey;
}

.autocomplete-suggestions strong {
        font-weight: normal; 
        color: #3399ff;
}


.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: grey;
}
